source_up
export KUBECONFIG=k8s_config.yaml
export AWS_CONFIG_FILE=~/projects/pdt/.aws/config
export AWS_SHARED_CREDENTIALS_FILE=~/projects/pdt/.aws/credentials
export AWS_PROFILE=dev
export AWS_DEFAULT_REGION=us-east-1
